<div class="footer">
 
    <div style="float: right; color: black;">Developed by :<a style="text-decoration:none" href="https://www.linkedin.com/in/saroj-dhakal-136a42256/">Saroj Dhakal</a></div>
</div>