<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') -%>
  </head>
  <body>
    <%- include('./partials/nav') -%>

    <div class="formContainer">
      <form action="/user/api/changepassword" method="post">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >currentPassword</label
          >
          <input
            type="password"
            class="form-control password"
            name="currentPassword"
            id="exampleInputPassword1"
            aria-describedby="emailHelp"
          />
          <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">NewPassword</label>
          <input
            type="password"
            class="form-control password"
            name="newPassword"
            id="exampleInputPassword1"
          />
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="passwordShow" />
          <label class="form-check-label" for="exampleCheck1"
            >show Password</label
          >
        </div>
        <button type="submit" class="btn submit btn-primary">Submit</button>
       
      </form>
    </div>

    <%- include('./partials/script') -%>
  </body>
</html>
