<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head') -%>
</head>
<body>
<%- include('./partials/nav') -%>
<div class="formContainer">
<form action="/user/signin" method="post">
    <%- include('./partials/script') -%>
</body>
</html>